librosa
scipy
numpy
python_speech_features
keras
tensorflow
pandas
pyaudio
azure.cognitiveservices.speech
audioop
base64
collections
hashlib
hmac
io
json
math
os
subprocess
sys
tempfile
threading
time
uuid
wave
